* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body {
    background-image: url(../assets/Login/img/corona.jpg);
    background-position: center;
    background-size: cover no-repeat;
}

.ctn-all {
    width: 40%;
    height: 50%;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.ctn-form {
    width: 90%;
    padding: 30px;
    background: white;
    border-radius: 15px;
}

.logo {
    width: 150px;
    display: block;
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: black;
}

label {
    display: block;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 300px;
    color: black;
    text-align: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 30%;
    height: 30px;
    background: white;
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    color: black;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    background: linear-gradient(90deg, #A32A17, #D26522);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background: #B5221A;
}

.text-foot {
    display: block;
    margin-top: 60px;
    text-align: center;
    color: black;
    font-weight: 350;
}

.text-foot a {
    color: #4250BD;
    font-weight: 600;
}


/* acaba aqui */

.msg-error {
    color: red;
    display: block;
    margin-top: 10px;
}